<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.locator_app.locator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-sdk android:targetSdkVersion="23" android:minSdkVersion="9" tools:overrideLibrary="com.facebook"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".LocatorApplication"
        android:allowBackup="true"
        android:icon="@drawable/locator_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/WelcomeActionBarTheme"
        android:largeHeap="true">
        <activity
            android:name=".view.LoginRegisterStartActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.LoginRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.LoginMailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.LoginPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.RegisterNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.RegisterResidenceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.RegisterMailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.RegisterPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.RegisterProfilePictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.OnBoardingChoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.FacebookLoginMailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.FacebookLoginPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.map.MapsActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="com.locator_app.locator.LocatorGlideModule"
            android:value="GlideModule" />
        <activity android:name=".view.LocationDetailActivity" >
        </activity>
    </application>

</manifest>
