<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.locator_app.locator">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="23"
        tools:overrideLibrary="com.facebook" />

    <permission
        android:name="com.locator_app.locator.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.locator_app.locator.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".LocatorApplication"
        android:allowBackup="true"
        android:icon="@drawable/locator_app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/WelcomeActionBarTheme">
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.locator_app.locator" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".service.RegistrationIntentService"
            android:exported="false"></service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.locator_app.locator.customglide.LocatorGlideModule"
            android:value="GlideModule" />

        <activity
            android:name=".view.home.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.login.LoginRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.login.LoginRegisterStartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.login.LoginMailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.login.LoginPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.register.RegisterNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.register.RegisterResidenceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.register.RegisterMailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.register.RegisterPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.register.RegisterProfilePictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.map.MapsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".view.LocationDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.locationcreation.LocationSuggestions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.locationcreation.NameLocation"
            android:screenOrientation="portrait" />
        <activity android:name=".view.ImageActivity" />
        <activity
            android:name=".view.impressions.ImpressionController"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.locationcreation.ChooseCategories"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.profile.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.impressions.TextImpressionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.profile.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.profile.TermsOfServiceActivity"></activity>
    </application>

</manifest>
